<form #userForm="ngForm" (ngSubmit)="login()">
  <section class="vh-100" style="background-color: #e7e9ed;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center" style="background-color: #3297a6;">
  
              <div class="form-outline mb-4">
                <label for="username" class="form-label">UserName</label>
                <input type="text" name="username" [(ngModel)]="username" class="form-control" id="username">
                
              </div>
  
              <div class="form-outline mb-4"> 
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" [(ngModel)]="password" class="form-control" id="password">
              </div>
  
              <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
  
              <hr class="my-4">
  
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</form>
       

