.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: -120px;
  
}

.card {
  width: 400px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-header {
  background-color: #8c8c1f;
  color: #8c8c1f;
  padding: 10px;
  font-size: 1.5rem;
  text-align: center;
}

.card-body {
  padding: 50px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: 8c8c1f;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #8c8c1f;
}
